html,
body,
.main {
    width: 100%;
    height: 100vh;
    margin: 0;
    cursor: url(./img/cursor.png), auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.page {
    font-family: 'Raleway', sans-serif;

}


.link9 {
    color: #4f4f4f;
}

.linkbox {
    color: #eaebea;
}

::selection {
    background-color: #a58d73;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #e3cebd;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #cdac8f;
    border-radius: 10px;
}

.background-image {
    height: 100%;
    background-repeat: no-repeat;
    animation: ani1 5s linear infinite;
}

.container,
.button4,
.group1,
.button,
.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio0,
.footer,
.button0,
.section5,
.photo7,
.arow12 {
    display: flex;
    justify-content: center;
}

.box,
.box3,
.section1,
.imgarticl {
    display: flex;
    justify-content: space-evenly;
}

.section2,
.wahom,
.box1,
.box2,
.arrow0,
.text0,
.arrow1,
.arrow2,
.arow11,
.arow10,
.photo {
    display: flex;
}

.box1,
.box2,
.arrow1,
.arrow2,
.text4,
.text41,
.text42,
.sep,
.p30 {
    color: white;
}

.text1,
.text2,
.text3,
.wahom,
.text,
.text6,
.line2 {
    color: aliceblue;
}

.color,
.arrow1,
.arrow2,
.button,
.button4,
.section7 {
    background-color: #fbfaf8;
}

.p3,
.textimg {
    color: #998675;
}

.w1,
.textimg1,
.text5,
.h3,
.w2,
.section9 {
    color: #8c8c8c;

}

.box1,
.box,
.box3,
.text0,
.section2,
.header1,
.poster0,
.text77,
.arrow0 {
    align-items: center;
}

.section3,
.header1,
.article,
.color,
.poster0,
.text5,
.text0,
.group1,
.text,
.section7,
.text77,
.photo71 {
    display: flex;
    flex-direction: column;
}

.section1,
.wahom,
.imgarticle0,
.arow12,
.photo7,
.section6 {
    display: flex;
    flex-direction: row;
}

.section6,
.section8,
.section9,
.groupflex1,
.groupflex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.group1,
.box1,
.p3,
.button1,
.button2,
.button3,
.text41,
.small,
.text77,
.section6 {
    text-align: center;
}

.p3,
.textimg,
.w1,
.w2,
.w3,
.h3,
.text41 {
    font-size: 20px;
}

.box1,
.box2,
.box,
.box3 {
    height: 100%;
}

.container,
.radio0,
.section9,
.section8,
.arrow0,
.section2,
.section7,
.text77,
.section6,
.section3,
.footer,
.button0,
.article,
.poster,
.video,
.section4 {
    width: 100%;
}

.imgarticle0,
.footer,
.button0,
.photo7,
.poster0,
.header1 {
    gap: 20px;
}

.icon1m,
.links,
.lupa,
.arow11,
.arow10 {
    height: 20px;
    width: 20px;
}

.arrow0,
.section2 {
    justify-content: space-around;
}

.header1,
.section9,
.section2,
.text5 {
    height: 100px;
}

.footer,
.button0 {
    height: 100px;
}

.wahomicon {
    height: 70%;
    width: 25%;
}

.container {
    height: 10%;
}

.radio0 {
    height: 5%;
    color: rgb(255, 0, 208);
}

.box1 {
    width: 20%;
    font-size: 30px;
}

.box2 {
    width: 45%;
    gap: 10px;
}

.icon1m {
    filter: brightness(100);
}

.box,
.box3 {
    font-size: 15px;
}


.box {
    width: 100%;
}

.arrow0 {
    height: 80%;
    user-select: none;
}

.text0 {
    z-index: 3;
    position: relative;
    height: 300px;
    width: 500px;
    justify-content: flex-end;
}

.text1 {
    font-size: 27px;

}

.text2 {
    font-size: 45px;

}

.arrow1,
.arrow2 {
    height: 50px;
    width: 80px;
}

.arrow1 {
    -webkit-clip-path: polygon(32% 0, 6% 48%, 32% 100%, 25% 100%, 0% 50%, 25% 0%);
    font-size: 30px;
}

.arrow2 {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 68% 100%, 94% 50%, 67% 0);
}

.button,
.button4 {
    height: 50px;
    width: 180px;
    font-size: 15px;
    color: #9e9e9e;
}

.button4 {
    margin-top: 20px;
    border-radius: 5px;
}

.section1 {
    height: 300px;
}

.img1 {
    height: 50px;
    width: 50px;
    filter: grayscale(100%) contrast(20%);
}

.p {
    font-size: 23px;
}

.section2 {
    background-image: linear-gradient(90deg, #251d1a 30%, #4d3227 50%);
}

.wahom {
    font-size: 25px;
    justify-content: space-between;
}

.text {
    width: 33%;
}

.section3 {
    height: 800px;
}

.header1 {
    margin-top: 30px;
}

.p1 {
    font-size: 25px;

}

.button1,
.button2,
.button3 {
    color: #9e9e9e;
    height: 20px;
    border: 2px rgb(224, 212, 212) solid;
    border-radius: 4px;

}

.text42 {
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {
    width: 100px;
}

.button2 {
    width: 60px;
}

.button3 {
    width: 120px;
}

.article {
    height: 800px;
}

.clipath {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 76% 90%, 17% 90%, 9% 85%, 0 91%);
    height: 200px;
    width: 300px;
}

.textimg,
.textimg1 {
    margin-left: 20px;
}

.textimg1 {
    font-size: 15px;
}

.color {
    height: 250px;
    width: 300px;
}

.link {
    display: none;
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: center;
    filter: brightness(150%);
    position: absolute;
    z-index: 1;
    gap: 20px;
}

.section4 {
    height: 600px;
}

.poster {
    height: 600px;
    object-fit: cover;
}

.poster0,
.small,
.radio1 {
    position: absolute;
    z-index: 1;
}

.poster1 {
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.imgposter1 {
    height: 50px;
    width: 50px;
    filter: brightness(150%);
    border-radius: 60%;
    background-color: #5d606584;
}

.text4 {
    font-size: 28px;
}

.text42,
.text7 {
    font-size: 15px;
}

.section5,
.photo {
    height: 500px;
}

.text5 {
    margin-top: 100px;
    width: 600px;
    font-size: 15px;
    list-style-image: url(./img/marker.png);
    list-style-position: outside;
}

.h1 {
    color: #251d1a;
}

.section6 {
    height: 250px;
    background-image: linear-gradient(90deg, #251d1a 30%, #4d3227 50%);
}

.text6,
.line2 {
    font-size: 45px;
}

.h99,
.h09 {
    font-family: 'Noto Sans Khudawadi', sans-serif;
    color: #4f4f4f;

}

.line2 {
    transform: translateY(-30px);
}

.text6 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text7 {
    color: #c6b299;
}

.section7 {
    height: 600px;
}

.text77 {
    height: 180px;
}

.small {
    height: 50px;
    width: 80px;
    transform: translatey(-175px);
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.radio1 {
    transform: translateY(150px);
    margin-left: 75px;
    opacity: 0.5;
    color: #e5dcd3;
}

.sep {
    background-color: #252525;
    border-radius: 0px 0px 5px 5px;
    font-size: 15px;
    height: 40%;
    width: 50%;
}

.p30 {
    background-color: #363636;
    font-size: 25px;
    border-radius: 5px 5px 0px 0px;
    height: 60%;
    width: 50%;
}

.photo71 {
    height: 350px;
    width: 300px;
    gap: 15px;

}

.h2,
.h3 {
    height: 80px;
}

.h2 {
    transform: translatey(30px);
    font-size: 30px;
}

.w1,
.w2,
.w3 {
    transform: translateX(10px);
}

.w2,
.w3 {
    font-size: 15px;
}

.w3 {
    color: #c6b299;
}

.arow12 {
    margin-top: 20px;
    gap: 10px;
}

.arow11,
.arow10 {
    filter: grayscale(100%);
}

.section8 {
    height: 400px;
    background-image: url(./img/section8.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.imgsection7 {
    height: 10px;
    width: 10px;
}

.imgsection8 {
    height: 150px;
    width: 150px;
}

.section9 {
    background-color: #111111;
}

.groupflex {
    width: 38%;
}

.groupflex1 {
    width: 30%;
}